.eachpost {
  width: 35%;
  height: 95%;
  background-color: #ffff;
  position: relative;
  transform: translateY(-150%);
  left: 29.5%;
  border-radius: 10px;
  position: relative;
  text-justify: distribute;
  top: 132%;
  padding-bottom: 400px;
  border:1px solid #c9c6c1;
}
.eachpost .container img {
  width: 50px;
  border-radius: 50px;
}
.eachpost .container {
  width: auto;
  height: auto;
  position: relative;
  left: 10px;
  top: 10px;
}
.eachpost .container .name {
  position: relative;
  top: -55px;
  left: 60px;
}
.eachpost .container h4 span {
  font-size: 10px;
  color: #7d7676;
}
.bio {
  width: 80%;
  position: relative;
  top: -60px;
  left: 60px;
  right: 100px;
  font-size: 10px;
  color: #7d7676;
}
.message {
  width:95%;
  position: relative;
  top: -40px;
  font-size: 12px;
  text-align: justify;
  text-justify: distribute;
  color: #8c8c8c;
  line-height: 25px;
}
.hashtags {
  color: rgb(23, 125, 214);
  position: relative;
  left: 0px;
}
.userpost img {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.interactions {
  width: 100%;
  position: relative;
  left: -40px;
}
.interactions:hover {
  cursor: pointer;
}
.interactions img {
  padding: 50px;
}
.interactions h4 {
  color: #7d7676;
  display: inline;
  position: relative;
  top: -80px;
  left: 50px;
  padding: 40px;
}
.interactions hr {
  position: relative;
  left: 40px;
  top: 30px;
}
