* {
  margin: 0;
}
header {
  background-color: #ffff;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
}
h1 {
  margin-left: 10%;
  padding: 5px;
}
#logo {
  margin-left: 13%;
  width: 35px;
  padding: 8px;
  border-radius: 13px;
}
.search_container {
  background-color: #edf3f8;
  outline: none;
  border: none;
  width: 280px;
  height: 32px;
  border-radius: 5px;
  position: relative;
  top: -22px;
  transition: 0.5s;
}
input {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 12%;
  width: auto;
}
.search_container:hover {
  width: 400px;
}
.search_container {
  margin-left: 16.5%;
  position: relative;
  top: -45px;
}
.search_logo {
  width: 20px;
  color: yellowgreen;
  left: 1%;
  margin-top: 2%;
  position: absolute;
}
.search_container:hover {
  border: 2px solid black;
}
.navigations {
  width: 32%;
  height: auto;
  background-color: transparent;
  position: relative;
  top: -120px;
  left: 42.5%;
}
.navs {
  color: #666666;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  padding-left: 45px;
}
.navs_texts {
  margin-left: 30px;
  margin-top: -5%;
  padding-bottom: -10px;
}
.navs_texts h7:hover {
  border-bottom: 2px solid #000;
}
h7 {
  padding: 10px;
  font-size: 15px;
}
.house {
  margin-top: 4%;
}
.down_arrow {
  position: relative;
  margin-left: 96%;
  margin-top: -100%;
}
.vertical-line {
  border-left: 1px solid #666666;
  height: 45px;
  margin-top: -10%;
  margin-left: 101%;
}
.business {
  position: absolute;
  left: 78%;
  top: 15%;
}
.business_text {
  position: absolute;
  left: 76%;
  top: 40%;
}
.down_arrow2 {
  position: absolute;
  left: 82.1%;
  top: 65%;
}
.premium {
  position: absolute;
  left: 84%;
  top: 25%;
  color: #915907;
  font-size: 18px;
}

/* Search container  Bugs Not yet Fixed*/
.search_linkedin {
  width: 440px;
  height: 0px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  left: 16%;
  top: 90%;
  transition: 0.2s;
}
.search_linkedin.show {
  height: 250px;
  border: 2px solid rgb(0, 0, 0.2);
}
img:hover,
.navigations:hover,
.pro:hover {
  cursor: pointer;
}

/* Responsive code goes here  (Desktop View)*/

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .search_container {
    left: 2%;
  }
  .first_part {
    position: absolute;
    left: 0%;
  }
  .first_part .search_container {
    left: 25%;
    width: 200px;
  }

  .second_part .navigations {
    width: 50%;
    top: -30px;
    left: 25%;
  }
  .second_part .navs_texts {
    position: relative;
  }
  .second_part .down_arrow {
    position: relative;
    left: -5%;
  }
  .second_part .vertical-line {
    position: relative;
    left: -5%;
    height: 58px;
  }
  .third_part{
    position: relative;
    left:-2%;
    top:-140%;
  }
  .third_part .business_text{
    position: relative;
    top:3vh;
  }
  .third_part .down_arrow2{
    position: relative;
    left:75%;
    top:25px;
  }
  .third_part .premium{
    position: relative;
    left:87%;
    top: -20px;
  }
}

/* Responsive Media Query for mobile screen */
@media screen and (max-width:855px) {
  .second_part .navs_texts{
    display:none;
  }
}