* {
  margin: 0;
}
header {
  background-color: #ffff;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
}
h1 {
  margin-left: 10%;
  padding: 5px;
}
#logo {
  margin-left: 13%;
  width: 35px;
  padding: 8px;
  border-radius: 13px;
}
.search_container {
  background-color: #edf3f8;
  outline: none;
  border: none;
  width: 280px;
  height: 32px;
  border-radius: 5px;
  position: relative;
  top: -22px;
  transition: 0.5s;
}
input {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 12%;
  width: auto;
}
.search_container:hover {
  width: 400px;
}
.search_container {
  margin-left: 16.5%;
  position: relative;
  top: -45px;
}
.search_logo {
  width: 20px;
  color: yellowgreen;
  margin-left: -200px;
  margin-top: 2%;
  position: absolute;
}
.search_container:hover {
  border: 2px solid black;
}
.navigations {
  width: 32%;
  height: auto;
  background-color: transparent;
  position: absolute;
  top: -20%;
  left: 42.5%;
}
.navs {
  color: #666666;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;
  padding-left: 45px;
}
.navs_texts {
  margin-left: 30px;
  margin-top: -6.5%;
  padding-bottom: -10px;
}
.navs_texts h7:hover {
  border-bottom: 2px solid #000;
}
h7 {
  padding: 10px;
  font-size: 15px;
}
.house {
  margin-top: 4%;
}
.down_arrow {
  position: relative;
  margin-left: 96%;
  margin-top: -100%;
}
.vertical-line {
  border-left: 1px solid #666666;
  height: 45px;
  margin-top: -10%;
  margin-left: 101%;
}
.business {
  position: absolute;
  left: 78%;
  top: 15%;
}
.business_text {
  position: absolute;
  left: 76%;
  top: 40%;
}
.down_arrow2 {
  position: absolute;
  left: 82.1%;
  top: 65%;
}
a {
  position: absolute;
  left: 84%;
  top: 25%;
  color: #915907;
  font-size: 18px;
}

/* Search container  Bugs Not yet Fixed*/
.search_linkedin {
  width: 440px;
  height: 200px;
  background-color: yellowgreen;
  position: absolute;
  left: 16%;
  top: 90%;
  display: none;
}
