* {
  margin: 0;
}
header {
  background-color: #ffff;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100;
}
.first_part {
  position: relative;
  left: 10%;
  width: auto;
}
.logo {
  width: 35px;
  border-radius: 2px;
  position: relative;
  top: 7px;
}
.search_container {
  position: absolute;
  top: 7px;
  left: 40px;
  width: 250px;
  height: 35px;
  border-radius: 3px;
  background-color: #edf3f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestionBox {
  width: 350px;
  height: 0px;
  background-color: #ffff;
  position: absolute;
  left: 15.5%;
  transition: 0.3s;
  top: 100%;
  left: 1%;
  border: 1px solid gray;
}
.search_container img {
  position: relative;
  left: 10px;
}
.search_container input {
  position: relative;
  left: 15px;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ========================Second Part============================ */
.second_part {
  height: 30px;
  width: 100vh;
  position: absolute;
  left: 30%;
  top: 7px;
  font-size: 13px;
}
.second_part span {
  position: relative;
  top: 10px;
  left: -30px;
}
.home {
  position: relative;
  top: 4px;
}
.second_part .second-part-images {
  width: 3vw;
  font-size: 3vw;
  color: #666666;
}
.second_part a {
  color: rgb(123, 109, 75);
  position: relative;
  left: -10px;
  right: 10%;
  margin-right: 10px;
}
.down_arrow {
  position: relative;
  top: 10px;
}
.second_part span:hover {
  border-bottom: 3px solid rgb(14, 14, 14);
}
/* Responsive Media Query for mobile screen */
@media screen and (max-width: 1025px) {
  .first_part .search_container {
    visibility: hidden;
  }
  .second_part {
    left: 40px;
  }
  .second_part span {
    visibility: hidden;
  }
}

/* Desktop View */
@media screen and (min-width: 1025px) {
  .first_part {
    left: 13%;
  }
  .second_part .second-part-images:nth-child(1),
  .second_part span:nth-child(2) {
    display: none;
  }
  .second_part .second-part-images:nth-child(2) {
    position: absolute;
    top: 10px;
    color: yellowgreen;
  }
  .second_part .second-part-images {
    margin-top: -15px;
    width: 20px;
  }
}
